<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Form</title>
</head>

<body>
  <div class="topnav">
    <a th:href="@{/}" class="active">Task Form</a>
    <a th:href="@{/tasklist}">Task List</a>
  </div>

  <div class="container">
    <h2>New TODO Item</h2>
    <form method="post" th:object="${item}" th:action="@{/submitItem}">
      <select class="select" th:field="*{category}">
        <option class="categoryOption">Choose Category</option>
        <option th:each="category : ${categories}" th:text="${category}" th:value="${category}"></option>
      </select>
      <input type="hidden" th:field="*{id}">
      <input type="text" th:field="*{title}">
      <input type="text" th:field="*{description}">
      <input type="date" th:field="*{dateOfCompletion}">
      <input type="submit" value="Submit Item">
    </form>
  </div>
</body>
</html>